body {
  font-size: 13px;
  line-height: 1.5em;
  color: #383838;
  font-family: 'Nanum Gothic', AppleGohtic, Arial, sans-serif !important;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

div {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
  border: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
}

ul {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  empty-cells: show;
}

td {
  padding: 7px 4px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.5em;
  color: #383838;
  font-family: 'Nanum Gothic', AppleGohtic, Arial, sans-serif !important;
  font-weight: 400;
}

p {
  margin: 0;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0;
  line-height: 1.5em;
}

li {
  list-style: none;
  padding: 0;
  line-height: 1.5em;
}